{% extends 'layouts/partials/base.html.twig' %}

{% block title 'Change Password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto ">
            <h1 class="my-5 text-center">Change password</h1>
      
            {{form_start(form)}}
                {{form_widget(form)}}

            <div class="row p-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block"> 
                    Update password 
                </button>
            </div>
            {{form_end(form)}}

        </div>
    </div>
{% endblock %}
