{% extends 'layouts/partials/base.html.twig' %}

{% block title 'Reset your password' %}

{% block body %}
    <div class="row">
        <div class="pt-2 pb-3 col-md-6 mx-auto">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-error mb-3 rounded" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1 class="mt-5 mb-3 text-center">Reset your password</h1>

      
            <p class="mb-3 text-center text-muted">
                Enter your email address and we will send you a link to reset your password.
            </p>


            {{ form_start(requestForm) }}
                {{ form_widget(requestForm.email) }}
            <div class="row p-1">
                <button type="submit" class="mt-4 btn btn-primary btn-lg btn-block">Send password reset email</button>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
