<footer class="container-fluid text-center pt-3 pb-1 mt-5">
    <p class=" p-footer">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Designed by 
            <a href="" class="text-decoration-none"><span class="adresse"> Fensoo Andrianirina</span></a>
        </small>
    </p>
</footer>