{% extends 'layouts/partials/base_error.html.twig' %}

{% block title 'Access forbidden' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto ml-5 pt-5 ">
        <h1 class="" style="color:red; margin-top:120px;">Oops ! An Error Occurred </h1>

        <p>
            You cannot access to this page. Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible.The requested page couldn't be located. Checkout for any URL misspelling
            or <a href="{{ path('app_home') }}" class="text-decoration-none"> return to homepage</a>.
        </p>
    </div>
</div>
    
{% endblock %}